data
slurm-scripts
logs
tmp
VARNAv3-93.jar
.ipynb_checkpoints
Excel_sheet_working_conditions.xlsx
Plot_working_conditions.ipynb
figures/working_cond*
figures/read_length_on*
figures/min_req*
isoquant_output
