[submodule "tools/fquick"]
	path = tools/fquick
	url = https://github.com/smyth-lab/fquick
[submodule "tools/python_functions"]
	path = tools/python_functions
	url = https://github.com/smyth-lab/Nano-DMS-MaP-functions
